.root{
    background-color: white;
    padding:0.5rem 0;
}
.link{
    display: inline-block;
    text-decoration: none;
    font-size:18px;
    margin-left:0.7rem;
}

.active{
    color: #FF6347;
    text-decoration: underline;
    text-decoration-color: #FF6347;
}
.num{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0.6rem;
    background-color: gray;
    text-align: center;
}